MYSQL_USER=root
MYSQL_PASSWORD=password
MYSQL_HOST=booking-db
MYSQL_DB=booking_db
EVENT_SERVICE_URL=http://event-service:8000/api/v1/events
PAYMENT_SERVICE_URL=http://payment-service:8000/payments
RABBITMQ_HOST=rabbitmq
JWT_SECRET=team3_super_secret_jwt_key_2026
